.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(83, 83, 83);
  flex: 1;
  border-radius: 15px;
  padding: 15px 35px 15px 35px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}
